<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= person.position %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>Married:</strong>
    <%= person.married %>
  </p>

</div>
